{% block title %}Connexion{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
{% endblock %}

{% block body %}

    <div class="encadrement">
        <p>TODO : formulaire connexion</p>
    </div>


{% endblock %}
