{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
{% endblock %}

{% block body %}
    <h1>Coeur de Metier </h1>
    <hr/>
    <h2>Intégration/ migration de site</h2>
    <ul>
        <li>Gestion de projet et architecture réseau/sécurité en lien avec les déménagements ou l’intégration de client</li>
        <li>Modification/Déplacement d’équipement réseau ou bureautique.</li>
        <li>Création de nouveau site avec intégration à un WAN existant.</li>
        <li>Service personnalisé en fonction du site et du client</li>
    </ul>
    <h2>Mise en place de supervision</h2>
    <ul>
        <li>Déploiement de logiciel de supervision/métrologie</li>
        <li>Analyse des besoins</li>
        <li>Etude de l’architecture</li>
        <li>Rédaction de la documentation et formation pour les utilisateurs</li>
    </ul>


{% endblock %}
