h1 {
    text-align: center;
    color: #a61f1f;
    font-weight: revert;
    font-size: 3.5rem;
}
h2{
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 60px;
    font-weight: bold;
}
hr{
    margin: 25px 20% 25px 20%;
}
ul
{
    padding-left: 20px;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

li{
    margin-top:8px;
    font-size: larger;
}