body{
    min-height: 100vh;
    position: relative;
    margin: 0;
}
footer{
    position: absolute;
    bottom: 0;
}

.navbar-brand  span {
    color: #fed136;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 0.1em;
}
.navbar-nav .nav-item .nav-link{
    padding: 1em ;
    font-size: 135%;
    font-weight: 600;
    letter-spacing: 2px;
    color: #d5d5da;
}
.navbar-nav .nav-item .nav-link:hover{color:#fed136;}

.shrink {
    margin-top: -5px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: rgba(16, 20, 24, 0.81);
}
.banner{
    background-image:url(../image/imgBanner.jpg);
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}
.banner-text{
    padding:200px 0 150px 0;
    font-size: 60px;
    font-weight: 700;
    color:#d5d5da;
}

.footerInfo{
    text-align: center;
}
.container-fluid{
    background-color: #101418 ;
}




/* mobile view */
@media (max-width:768px)
{
    .navbar-nav{
        background-color:#000;
        border-top:3px solid #fed136;
        color:#d5d5da;
        z-index:1;
        margin-top:5px;
    }
    .navbar-nav .nav-item .nav-link{
        padding: 0.7em ;
        font-size: 100%;
        font-weight: 500;
    }
    .banner-text {
        font-size: 25px;
    }
}